:root {
	--sprite-size: 120px;
}

.pkm__container {
	display: grid;
	justify-content: center;
	align-content: center;
	background-color: whitesmoke;
	border-radius: 1.2rem;
	padding: 2rem;
	background: linear-gradient(yellow, red);
}

.pkm__name {
	color: #fff;
	font-size: 3rem;
	margin: 0;
	text-align: center;
	text-transform: capitalize;
}

.pkm__id {
	color: #fff;
	font-size: 2rem;
	text-align: center;
}

.pkm__sprite {
	width: var(--sprite-size);
	margin: var(--sprite-margin);
	animation: idle_anim infinite 3s;
	justify-self: center;
	background: #ffffffa0;
	border-radius: 50%;
}

.pkm__sprite--anim {
	animation: none;
}

@media (prefers-reduced-motion) {
	.pkm__sprite--anim {
		animation: idle_anim infinite 3s;
	}
}

@keyframes idle_anim {
  0% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}
